@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile-specific styles */
@media (max-width: 768px) {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    touch-action: manipulation;
  }
}

/* Custom utility for touch devices */
@media (hover: none) {
  .touch-device\:opacity-100 {
    opacity: 1 !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotating-circle {
  animation: rotate 20s linear infinite;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
